<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <audio controls>
      <source
        scr="https://d14uq1pz7dzsdq.cloudfront.net/42a2f7f9-e30e-4d89-a173-e66bfae9711c_.mp3?Expires=1695764104&Signature=WdHzbEGdjqKCOhTGxG~PLIL54Sn9L4E5ZLEtaKPcpPGHM-cab10gKKvorheSjeINJ53rL~w1xWgeX5DMPMIs007oevP0NhFdfNdn59x98RcQpyICbITnbVrPopxQoNjlqz0MX~o7E3tf08w6wZupCY4RYWQcIDrOxDYqEaeDqtnzJ8j6K5n0Vd2VbqdAMfu3hXoC46t2pbcl64vHh49oZYWRewIlzK9FYDhdf5jD2R811YrkquchaKoL4vEASYsC9EgPbL3RpaLN9LHCtbG1MiotZk1IjQXfRbTIm-2foFpWjesOGyp5zX-vxsMPFqKwzqcKGXoiwbwPX3Rj1ggeiQ__&Key-Pair-Id=K1F55BTI9AHGIK"
        type="audio/mpeg"
      />
      Seu navegador não suporta a tag de áudio.
    </audio>
  </body>
</html>
